@model FreshFishWebsite.ViewModels.ShoppingCartViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

@if (Model.Products == null)
{
    <h2>Корзина порожня</h2>
}
else
{
    <div class="card wish-list mb-3">
        <div class="card-body">
            <h5 class="mb-4"><span>Кількість: </span> @Model.Count</h5>
            @foreach (var item in Model.Products)
            {
                <hr class="mb-4">
                <form asp-action="Delete" asp-controller="ShoppingCart" asp-route-id="@item.Id" method="post">
                    <div class="row mb-4">
                        <div class="col-md-5 col-lg-3 col-xl-3">
                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                <img class="img-fluid w-100"
                                    src="~/images/productsImages/@item.Product.Image"
                                    alt="Sample">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-9 col-xl-9">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5>@item.Product.ProductName</h5>
                                        <p class="mb-3 text-muted">@item.Product.PricePerKg  <small>Ціна за кілограм</small></p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="input-group  flex-nowrap mb-0 h-50 w-35">
                                            <button type="button"
                                                onclick="decrement(@item.Id, '@item.Product.ProductName')"
                                                class="btn btn-outline-secondary btn-sm"> - </button>
                                            <input id="@item.Product.ProductName" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm"
                                                min="1" name="quantity" value=@item.Quantity type="number" onchange="inputValueChanged(@item.Id, '@item.Product.ProductName')">
                                            <button type="button"
                                                onclick="increment(@item.Id, '@item.Product.ProductName')"
                                                class="btn btn-outline-secondary btn-sm"> + </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button type="submit" class="btn btn-danger btn-sm mr-3">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </div>
                                    <p class="mb-0"><span><strong>Ціна</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
}
<div class="modal-footer d-flex justify-content-between">
        <div>
            <h5>Кінцева ціна - @Model.TotalPrice</h5>
            
           
        </div>
        <div class="d-flex justify-content-end">
                <form asp-action="OrderProducts" method="post">
                    <input class="btn btn-sm btn-primary" type="submit" value="Замовити" />
                </form>
        </div>

</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/innerShoppingCart.js"></script>
