@model IEnumerable<FreshFishWebsite.Models.Product>
@{
    ViewData["Title"] = "Продукція";
}

<meta charset="UTF-8">
<link rel="stylesheet" href="../css/Products/products.css" type="text/css" media="screen" runat="server" />
<div class="products-container">
    <div class="products-flex">
        <div class="products-container-category">
            <div class="wrap-1">
                <input type="radio" id="tab-1" name="tabs">
                <label for="tab-1">
                    <div>tab one</div>
                    <div class="cross"></div>
                </label>
                <div class="content">content1</div>
            </div>

            <div class="wrap-2">
                <input type="radio" id="tab-2" name="tabs">
                <label for="tab-2">
                    <div>tab two</div>
                    <div class="cross"></div>
                </label>
                <div class="content">
                    content2
                </div>
            </div>
            <div class="wrap-2">
                <input type="radio" id="tab-3" name="tabs">
                <label for="tab-3">
                    <div>tab three</div>
                    <div class="cross"></div>
                </label>
                <div class="content">
                    content3
                </div>
            </div>
        </div>

        <div class="products-container-view">
            <div class="products-container-view-info">
                <h2>Завантаження...</h2>
                <p>Завантаження...</p>
                <div class="products-container-view-info-read">
                    <div class="products-details">
                        <p name="calories">Завантаження...</p>
                        <p name="pricePerKg">Завантаження...</p>
                    </div>
                        <button id="addToShoppingCartSelectedProductButton" class="btn-add">
                            Добавити в корзину<span class="iconify btn-add-content"
                                                    data-inline="false" data-icon="akar-icons:plus"></span>
                        </button>
                </div>
            </div>
            <div class="products-container-view-img">
                <div class="img-container">
                    <img class="fish-img" src="~/img/mainPage/None_bgFish.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products-container-preview">
    <div class="products-container-preview-other">
        @foreach (var item in Model)
        {
            <div class="product-card">
                <div class="product-card-content">
                    <input type="radio" class="product-register" id="@item.Id" name="fish">
                    <div>
                            <button class="btn-add addToCart" type="button" data-id="@item.Id">
                                <span class="iconify btn-add-content" data-inline="false"
                                      data-icon="akar-icons:plus"></span>
                            </button>
                    </div>
                    <label for="element-1" data-id="@item.Id">
                        <img src="~/images/productsImages/@item.Image" class="product-card-img" />
                        <div class="product-card-titleAndinfo">
                            <h5>@item.ProductName</h5>
                            <p>@item.PricePerKg грн/кг</p>
                        </div>
                    </label>
                </div>
            </div>
        }
    </div>
    <div class="products-container-preview-controll">
        <div class="products-container-preview-controll-block">
            <button class="btn-previous" data-trigger="previous">
                <span class="arrow arrow-left" data-trigger="previous"></span>
            </button>
            <h3>1/1</h3>
            <button class="btn-next" data-trigger="next">
                <span class="arrow arrow-right" data-trigger="next"></span>
            </button>
        </div>
    </div>
</div>
</div>
<script type="module" src="~/js/products.js"></script>
<script src="~/js/Products/productCard.js"></script>