@model FreshFishWebsite.ViewModels.OrderDetailsViewModel
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Призначення замовлень";
}
<div class="container-xxl">
<div class="card ">
  <h5 class="card-header bg-transparent ">Замовник: @Model.UserEmail (@Model.UserName @Model.UserSurname)</h5>
  <div class="card-body">
    <h4 class="card-title">Підприємство: @Model.CompanyName</h4>
    <p class="card-text">Адреса доставки: @Model.Address</p>
    <ul class="list-group mb-2">
        @foreach (var item in Model.Products)
        {
            <li class="list-group-item"> <small>Назва:</small> @item.Product.ProductName, <small>Кількість:</small> @item.Quantity</li>
        }
    </ul>
    <div class="container">
     @if (!Model.IsOrderDelivered && !Model.IsOrderAssigned)
     {
        <form asp-action="AssignOrderToDriver" class="row justify-content-end" method="post" asp-route-orderItemsid="@Model.OrderItemsId">
            <select class="form-select col-4 mx-1 w-50" id="driversDropdown" asp-for="DriverId" asp-items="@Model.Drivers"></select>
            <button class="btn btn-sm btn-primary col-1" type="submit">Призначити</button>
        </form>
     }
     else if(Model.IsOrderDelivered)
     {
         <p class="text-success">Доставлено</p>
     }
     else if(Model.IsOrderAssigned)
     {
    <p class="text-success">Замовлення призначено</p>
     }
    </div>
  </div>
</div>
</div>
