@model Storage
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Замовлення";
}

<div class="container-xxl">
    <h4 class="text-secondary">Список замовлень</h4>
    <div class="table-responsive-sm position-relative">
        <table class="table basic-table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="h6 col-sm-1">#</th>
                    <th scope="col" class="h6">Дата замовлення</th>
                    <th scope="col" class="h6 col-sm-3">Користувач</th>
                    <th scope="col" class="h6 col-sm-3">Дія</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in Model.OrderItems)
    {
        @if (@item.IsAssigned== false)
        {
            <tr>
                <td>@item.Order.Id</td>
                <td>@item.Order.User.Email</td>
                <td>@item.Order.OrderDate</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="GetOrderDetails" asp-controller="Storage" asp-route-storageId="@Model.Id" asp-route-orderItemsId="@item.Id">Деталі</a>
                </td>
            </tr>
        }

    }

            </tbody>
        </table>
    </div>
    <hr class="mb-3" />
    <h4 class="text-secondary">Призначені замовлення</h4>
    <div class="table-responsive-sm position-relative">
         <table class="table basic-table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="h6 col-sm-1">#</th>
                    <th scope="col" class="h6">Дата замовлення</th>
                    <th scope="col" class="h6 col-sm-3">Користувач</th>
                    <th scope="col" class="h6 col-sm-3">Дія</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OrderItems)
    {
        @if (@item.IsAssigned == true)
        {
            <tr>
                <td>@item.Order.Id</td>
                <td>@item.Order.User.Email</td>
                <td>@item.Order.OrderDate</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="GetOrderDetails" asp-controller="Storage" asp-route-storageId="@Model.Id" asp-route-orderItemsId="@item.Id">Деталі</a>
                </td>
            </tr>
        }

    }
            </tbody>
        </table>
    </div>
</div>