@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<table class="table">
    <tr>
        <td>Дата замовлення</td>
        <td>Користувач</td>
    </tr>

    @foreach (var item in Model)
    {
        @if(!item.IsOrderAssigned)
        {
        <tr>
            <td>@item.OrderDate</td>
            <td>@item.User.Email</td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
            </td>
        </tr>

        }
    }
</table>
<hr />
<h3>Призначені замовлення</h3>
<table class="table">
    <tr>
        <td>Дата замовлення</td>
        <td>Користувач</td>
    </tr>

    @foreach (var item in Model)
    {
        @if (item.IsOrderAssigned)
        {
            <tr>
                <td>@item.OrderDate</td>
                <td>@item.User.Email</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
                </td>
            </tr>

        }
    }
</table>