@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Замовлення";
}
@*  <table class="table">
    <tr>
        <td>Дата замовлення</td>
        <td>Користувач</td>
    </tr>

    @foreach (var item in Model)
    {
        @if(!item.IsOrderAssigned)
        {
        <tr>
            <td>@item.OrderDate</td>
            <td>@item.User.Email</td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
            </td>
        </tr>

        }
    }
</table> 
<hr />
<h3>Призначені замовлення</h3>
<table class="table">
    <tr>
        <td>Дата замовлення</td>
        <td>Користувач</td>
    </tr>

    @foreach (var item in Model)
    {
        @if (item.IsOrderAssigned)
        {
            <tr>
                <td>@item.OrderDate</td>
                <td>@item.User.Email</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
                </td>
            </tr>

        }
    }
</table> *@
<div class="container-xxl">
    <h4 class="text-secondary">Список замовлень</h4>
    <div class="table-responsive-sm position-relative">
        <table class="table basic-table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="h6 col-sm-1">#</th>
                    <th scope="col" class="h6">Дата замовлення</th>
                    <th scope="col" class="h6 col-sm-3">Користувач</th>
                    <th scope="col" class="h6 col-sm-3">Дія</th>
                </tr>
            </thead>
            <tbody>
                  @foreach (var item in Model)
    {
        @if (item.IsOrderAssigned)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.User.Email</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
                </td>
            </tr>

        }
    }

            </tbody>
        </table>
    </div>
    <hr class="mb-3" />
    <h4 class="text-secondary">Призначені замовлення</h4>
    <div class="table-responsive-sm position-relative">
         <table class="table basic-table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="h6 col-sm-1">#</th>
                    <th scope="col" class="h6">Дата замовлення</th>
                    <th scope="col" class="h6 col-sm-3">Користувач</th>
                    <th scope="col" class="h6 col-sm-3">Дія</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
    {
        @if (item.IsOrderAssigned)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.User.Email</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="OrderDetails" asp-route-id="@item.Id">Деталі</a>
                </td>
            </tr>

        }
    }
            </tbody>
        </table>
    </div>
</div>