@model FreshFishWebsite.ViewModels.PoolVM.ProductsForPoolViewModel
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Додати рибу в басейн";
}
<div class="container">
<div class="card col m-1">
  <div class="card-body">
@if (!Model.Products.Any())
{
    <h4>Залишилося місця в басейні: @Model.Pool.RemainingSpaceForProducts</h4>
    <p class="text-warning">
        Немає доступних продуктів на складі
        <a asp-action="Create" asp-controller="Products" asp-route-storageId="@Model.StorageId">Створити продукт</a>
    </p>
}
else if (Model.Pool.RemainingSpaceForProducts == 0)
{
    <h4 class="text-center">Басейн заповнений повністю</h4>
}
else
{
    <h3>Залишилося місця в басейні: @Model.Pool.RemainingSpaceForProducts</h3>
    <form asp-action="AddProductsToPool" method="post">
        <div class="form-group mb-2">
            <input id="poolIdInput" type="hidden" asp-for="PoolId" />
            <input id="storageIdInput" type="hidden" asp-for="StorageId" />
            <label asp-for="QuantityKg" class="form-label mb-1">Кількість</label>
            <input id="maxQuantityInput" class="form-control" type="text" asp-for="QuantityKg" min="1" />
        </div>
        
        @foreach (var p in Model.Products)
        {
            <div class="form-check">
                <input class="form-check-input" asp-for="ProductId" type="radio" id="@p.Id"  value="@p.Id">
                <label class="form-check-label">
                    @p.ProductName
                </label>
            </div>
             @*<input type="radio" id="@p.Id" asp-for="ProductId" value="@p.Id">@p.ProductName*@ 
        }
        <div class="form-group mb-1 text-end">
            <button class="btn btn-primary btn-sm" type="submit">Додати</button>
        </div>
    </form>

}
  <hr class="mb-3">
<div class="table-responsive-sm position-relative">
    <table class="table basic-table table-striped table-bordered ">
        <thead>
            <tr>
                <th scope="col" class="h6">Назва продукції</th>
                <th scope="col" class="h6 col-sm-3">Кількість в басейні</th>
                <th scope="col" class="h6 col-sm-3">Дія</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pool.ProductsInPool)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.TotalProductQuantityKg</td>
                    <td>
                        <form asp-action="DeleteProductInPool" asp-route-id="@item.Id"
                              asp-route-storageId="@Model.StorageId" asp-route-poolId="@Model.PoolId" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Видалити
                            </button>
                        </form>
                    </td>
                </tr>


            }

        </tbody>
    </table>
</div>
  </div>
  </div>
  </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Pools/poolQuantityValidator.js"></script>