@model FreshFishWebsite.ViewModels.OrderDetailsForDriverViewModel
@{
    Layout = "~/Views/Shared/_Driver_Layout.cshtml";
}
<h2>Назва підприємства @Model.CompanyName</h2>
<h3>Отримувач @Model.UserName @Model.UserSurname</h3>
<h3>Електронна адреса отримувача: @Model.UserEmail</h3>
<hr />
<h3>Адреса доставки: @Model.Address</h3>
<hr />
<div style="border: 1px dotted black">
    А тут водій зможе керувати статусом доставки, якшо моя дупа напрягнеться трохи
</div>
<div>Тут буде мапа, якшо Вася трошки напрягнеться</div>