@model FreshFishWebsite.ViewModels.OrderDetailsForDriverViewModel
@{
    Layout = "~/Views/Shared/_Driver_Layout.cshtml";
    ViewData["Title"] = "Замовлення #";
}

<div class="container-xxl">
    <div class="card mb-4">
        <h5 class="card-header bg-transparent ">Замовлення: #@Model.OrderItemsId</h5> 
        <div class="card-body">
            <div class="container mb-3">
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <h5 class="card-title">Адреса доставки: @Model.Address</h5>  
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-text"><small>Підприємство: </small>@Model.CompanyName</h5>
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-text">Отримувач: @Model.UserName @Model.UserSurname</h5>
                    </li>
                    <li class="list-group-item">
                         <h6 class="card-text"><small>Електронна адреса отримувача: </small>@Model.UserEmail</h5>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="input-group mb-1">
                                <span class="input-group-text" id="basic-addon1">Start: </span>
                                <input id="start" type="text" class="form-control bg-transparent" aria-label="readonly input example" readonly />
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="input-group mb-1">
                                <span class="input-group-text" id="basic-addon1">End: </span>
                                <input id="end" type="text" class="form-control bg-transparent" aria-label="readonly input example" readonly />
                            </div>
                        </div>
                        <div class="col-sm-2">
                             <button id="getUrl" class="btn btn-sm btn-primary mt-1" onclick="getURL()">Отримати маршрут</button>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
         <div class="container mb-2 px-2">
              <div id="map" class="w-95"></div>
         </div>
            <form asp-action="ChangeOrderStatus" class="d-flex justify-content-end bd-highlight m-3" method="post" asp-route-orderItemsId="@Model.OrderItemsId">
                <select class="form-select mx-1 w-50" asp-for="Status">
                    <option value="0">Очікує відправлення</option>
                    <option value="1">В дорозі</option>
                    <option value="2">Доставлено</option>
                </select>
                <button class="btn btn-sm btn-primary" type="submit">Підтвердити</button>
            </form>

    </div>
</div>
</div>
@*
    <h2>Назва підприємства @Model.CompanyName</h2>
    <h3>Отримувач @Model.UserName @Model.UserSurname</h3>
    <h3>Електронна адреса отримувача: @Model.UserEmail</h3>
    <hr />
    <h3>Адреса доставки: @Model.Address</h3>
    <hr />
    <h4>Cтатус замовлення: </h4>
    <form asp-action="ChangeOrderStatus" method="post" asp-route-orderItemsId="@Model.OrderItemsId">
        <select class="form-select" asp-for="Status">
            <option value="0">Очікує відправлення</option>
            <option value="1">В дорозі</option>
            <option value="2">Доставлено</option>
        </select>
        <input type="submit" value="Підтвердити" />
    </form>
    <hr />
    <div>
        <div id="floating-panel">
            <b>Start: </b>
            <input id="start" readonly/>
            <b>End: </b>
            <input id="end" readonly />
            <button id="getUrl" onclick="getURL()">Get Url</button>
        </div>
        <div id="map"></div>

    </div> *@
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/map_.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2pYpMXar3INreWFXbUNVA8k1LtC35oM&callback=initMap&libraries=places&v=weekly"
        async></script>